* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center_div {
  width: 25%;
  height: 60vh;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
